.calendar-app {
  width: 40%;
  min-width: 90vmin;
  aspect-ratio: 3 / 2;
  background-color: #6f96d1;
  padding: 3rem;
  border-radius: 3rem;
  border: 1rem solid #0f1318;
}

.calendar {
  width: 100%;
}

.heading {
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(4rem, 3.8cqi, 7rem);
  color: white;
  letter-spacing: 0.5rem;
  text-align: center;
}

.navigate{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 3.5rem 0;
}

.navigate h2 {
  font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
  color: black;
  letter-spacing: 0.2rem;
}

.buttons {
  display: flex;
  column-gap: 1rem;
  margin-left: auto;
}

.buttons i {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #0c0c0a;
  cursor: pointer;
}

.weekdays {
  width: 100%;
  display: flex;
  margin: 3rem 0;
}

.weekdays span {
  width: calc(100% / 7);
  font-size: clamp(1rem, 0.8cqi, 1.5rem);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1rem;
  text-align: center;
  justify-content: center;
  display: flex;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days span {
  font-size: clamp(1.2rem, 1cqi, 1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

.current-day {
  background-color: #ef9011;
  border-radius: 50%;
  box-shadow: 0 0 1.5rem 1rem rgba(239, 144, 17, 0.3);
}