@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Comfortaa', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: grid;
    place-items: center;
    perspective: 100rem;
}